<?xml version="1.0"?>
<launch>
    <rosparam 
    command="load"
    file="$(find kinova_ar_teleop)/config/one_hand_params.yaml"
    />
    <!--kinova startup for single arm-->
    <include
    file="$(find kortex_driver)/launch/kortex_driver.launch"
    launch-prefix="gnome-terminal --command"
    />
    <!--kinova startup for single arm-->
    <!--ros bridge server websocket-->
    <node 
    pkg="rosbridge_server" 
    type="rosbridge_websocket" 
    name="rosbridge_websocket" 
    launch-prefix="gnome-terminal --command"
    />
    <!--ros bridge server websocket-->
    <!--test publisher-->
    <node 
    pkg="kinova_ar_teleop" 
    type="test_pub" 
    name="test_pub" 
    launch-prefix="gnome-terminal --command"
    />
    <!--test publisher-->
    <!--main node translating pose stamped to twist messages-->
    <node 
    pkg="kinova_ar_teleop" 
    type="one_hand_teleop_w_twist" 
    name="one_hand_teleop_w_twist" 
    launch-prefix="gnome-terminal --command"
    />
    <!--main node translating pose stamped to twist messages-->
</launch>