<?xml version="1.0"?>
<launch>
    <!--USER INPUT-->
    <arg name="left_robot_prefix" default="left"/>
    <arg name="right_robot_prefix" default="right"/>
    <arg name="left_robot_ip" default="192.168.1.61"/>
    <arg name="right_robot_ip" default="192.168.1.62"/>
    <arg name="robot_name" default="kinova_arm"/>
    <!--USER INPUT-->
    <!--ros bridge server websocket-->
    <node 
    pkg="rosbridge_server" 
    type="rosbridge_websocket" 
    name="rosbridge_websocket" 
    launch-prefix="gnome-terminal --command"
    />
    <!--ros bridge server websocket-->
    <!--kinova startup for dual arm-->
    <include file="$(find kortex_driver)/launch/kortex_dual_driver.launch">
        <arg name="start_rviz" value="false"/>
        <arg name="start_moveit" value="false"/>
        <arg name="left_ip_address" value="$(arg left_robot_ip)"/>
        <arg name="right_ip_address" value="$(arg right_robot_ip)"/>
        <arg name="left_prefix" value="$(arg left_robot_prefix)"/>
        <arg name="right_prefix" value="$(arg right_robot_prefix)"/>
        <arg name="left_robot_name" value="$(arg robot_name)"/>
        <arg name="right_robot_name" value="$(arg robot_name)"/>
    </include>
    <!--kinova startup for dual arm-->
    <!--create namespace-->
    <group ns="$(arg left_robot_prefix)">
        <!--set params-->
        <rosparam command="load" file="$(find kinova_ar_teleop)/config/params.yaml"/>
        <param name="hand_pose_sub_topic" value="/$(arg left_robot_prefix)/controller"/>
        <param name="kortex_pose_service_topic" value="/$(arg left_robot_prefix)/$(arg robot_name)/base/get_measured_cartesian_pose"/>
        <param name="kortex_twist_pub_topic" value="/$(arg left_robot_prefix)/$(arg robot_name)/in/cartesian_velocity"/>
        <!--set params-->
        <!--test publisher-->
        <node 
        pkg="kinova_ar_teleop" 
        type="test_pub" 
        name="test_pub" 
        launch-prefix="gnome-terminal --command"
        />
        <!--test publisher-->
        <!--main node translating pose stamped to twist messages-->
        <node 
        pkg="kinova_ar_teleop" 
        type="one_hand_teleop_w_twist" 
        name="one_hand_teleop_w_twist" 
        launch-prefix="gnome-terminal --command"
        />
        <!--main node translating pose stamped to twist messages-->
    </group>
    <!--create namespace-->
    <group ns="$(arg right_robot_prefix)">
        <!--set params-->
        <rosparam command="load" file="$(find kinova_ar_teleop)/config/params.yaml"/>
        <param name="hand_pose_sub_topic" value="/$(arg right_robot_prefix)/controller"/>
        <param name="kortex_pose_service_topic" value="/$(arg right_robot_prefix)/$(arg robot_name)/base/get_measured_cartesian_pose"/>
        <param name="kortex_twist_pub_topic" value="/$(arg right_robot_prefix)/$(arg robot_name)/in/cartesian_velocity"/>
        <!--set params-->
        <!--test publisher-->
        <node 
        pkg="kinova_ar_teleop" 
        type="test_pub" 
        name="test_pub" 
        launch-prefix="gnome-terminal --command"
        />
        <!--test publisher-->
        <!--main node translating pose stamped to twist messages-->
        <node 
        pkg="kinova_ar_teleop" 
        type="one_hand_teleop_w_twist" 
        name="one_hand_teleop_w_twist" 
        launch-prefix="gnome-terminal --command"
        />
        <!--main node translating pose stamped to twist messages-->
    </group>
    
</launch>